@{
	string homeLinkClass = (ViewBag.IsHome ?? false) ? "current" : null;
	string asyncLinkClass = (ViewBag.IsHome ?? false) ? null : "current";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
	    <header>
			<a href="https://github.com/mikeckennedy/improve-mvc-perf-with-async-views">
				<img style="position: absolute; top: 0; left: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png">
			</a>
		    Sample: Improve Perceived Performance with Async Partial Views
	    </header>
		<div class="content">
			<div style="float:right;">
				<a href="~/home" class="nav @homeLinkClass">synchronous page</a>
				<a href="~/async" class="nav @asyncLinkClass">async page</a>

			</div>
			@RenderBody()
		</div>
        <footer>
            A sample by <a href="http://blog.michaelckennedy.net" target="_blank">Michael Kennedy</a> (<a  target="_blank" href="https://twitter.com/mkennedy">@@mkennedy</a>). All rights reserved.
        </footer>

        @Scripts.Render("~/bundles/jquery")
		<script src="~/JS/site.js"></script>
		<script>site.baseUrl = "@Url.Content("~/").TrimEnd('/')";</script>
        @RenderSection("scripts", required: false)
    </body>
</html>
